.app__footer{
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 0;
}
.app__footer-links{
    width: 100%;
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2rem;
}

.app__footer-links_contact,
.app__footer-links_logo,
.app__footer-links_work{
margin: 1rem;
text-align: center;
flex:1;
display: flex;
flex-direction: column;
gap: .5rem;
align-items: center;
}

.app__footer-links_logo img:first-child{
    width: 210px;
    margin-bottom: 0.75rem;
    margin: 0 auto;
}


.app__footer-links_icons{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    color: var(--color-white);
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 2rem;
}
.app__footer-links_icons svg:hover{
    color:var(--color-golden);
}

.app__footer-headtext{
    font-size: 1.5rem;
    color: var(--color-golden);
    margin-bottom: 1rem;
    font-family: var(--font-base);
}

.fotter__copyright{
    font-family: var(--font-base);
    color: #fff;
    font-size: 1rem;
}

@media screen and (max-width:1150px) {
    .app__footer-links{
        flex-direction: column;
        align-items: center;
    }
    .app__footer-links_contact,
    .app__footer-links_logo,
    .app__footer-links_work{

        margin: 2rem 0;
        width: 100%;
    }
}
@media screen and (max-width:650px) {
    .app__footer{
        padding: 0 0 2rem 0;
    }
}
@media screen and (max-width:350px) {
    .app__footer-links_logo img:first-child{
        width: 80%;
    }
}